TDAP_ForUpload/
TeradataVantageFunctionsPlugin/
VantageMLE_DSSPlugin/
/resource/mapping.json_orig
/resource/mapping_modded.json
.project
.pydevproject
.settings
*.pyc
*.sh
*.diff
*.zip
*.DS_Store
todo.todo
/TDAP_Test_Run
/python-lib/StringArgument.py
